MONGODB_URI=mongodb://nick882648_db_user:Nick%40882648@ac-dfqquag-shard-00-00.yyxbeiq.mongodb.net:27017,ac-dfqquag-shard-00-01.yyxbeiq.mongodb.net:27017,ac-dfqquag-shard-00-02.yyxbeiq.mongodb.net:27017/shopping-cart?ssl=true&replicaSet=atlas-htczjh-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=a689656c22e26768e902bee6f4a16ea7f25bcf3d4f658da654ebdd3566e733aa

